@charset "UTF-8";

button {
	// background-color:#2ba6cb;
	// border: 1px solid #2284a1;
	// margin:0 0 1.25em;
	// padding: 0.75em 1.5em 0.8125em 1.5em;
	position:relative;
	// display:inline-block;
	// color:#fff;
	font-size:1em;
	font-weight:bold;
	text-decoration:none;
	text-align:center;
	line-height:1;
	outline: none;
	&.btn {
		border: none;
		// background: none;
	}
}

.btn {
	// @include bg(#727171);
	position: relative;
	border: 0;
	cursor: pointer;
	// color: rgba(255, 255, 255, .84);
	border-radius: 10px;
	text-transform: uppercase;
	text-decoration: none;
	text-align:center;
	// @include transition(all 0.3s cubic-bezier(0.4, 0, .2, 1));
	// outline: 0!important;
	// display: table;
	display:inline-block;
	a, input, button {
		@include wh;
		// padding: 6px 13px;
		// color: #fff;
		font-size: $fz-L;
		font-weight: bold;
		letter-spacing: 1px;
		border: none;
		background: none;
	}
	a {
		// display: table-cell;
	}
	input {
		border: none;
		background: none;
	}
	&:hover {
		// @include bg(#007BBF);
		// @include box-shadow(1px 1px 3px #999);
		a, input {
			color: #fff;
		}
	}
	&:active {
		@include hover;
	}
	&-style1 {
		border: none;
		border-radius: 20px;
		box-shadow: 2px 2px 3px rgba(#000, 0.3);
		&:hover {
			box-shadow: $boxShadowHover1;
		}
		&:active {
			@include hover;
		}
		&.q {
			border-radius: 30px;
		}
	}
	&-inner {
		margin: auto;
	}


/*========================================================================*\
		project 
\*========================================================================*/
	&-addcart {
		position: relative;
		display: block;
		@include wh2(90% 68);
		max-width: 300px;
		margin: 0 auto 0.6em;
		@include bg('bg-btn1.png', 50%, 50%, repeat);
		&.ib {
			display: inline-block !important;
			margin-bottom: 0;
			margin-right: 1.8em;
		}
	}
	&-plusgoods {
		position: relative;
		display: block;
		@include wh2(90% 48);
		max-width: 300px;
		margin: auto;
		@include bg('bg-btn2.png', 50%, 50%, repeat);
	}
	&-fb {
		position: relative;
		@include wh2(87 25);
		@include bg('bg-btn3.png', 50%, 50%, repeat);
		border-radius: 5px;
	}
	&-go_list {
		&:active {
			@include hover;
		}
		&:hover {
			@include hover;
		}
	}
	&-style3.btn.btn {
		padding: 0.6em 0.8em;
		border: 1px solid #641e00;
		border-radius: 5px;
		background-color: #f19474;
		color: #641e00;
	}
	&-style4 {
		position: relative;
		display: block;
		margin: 1.5em auto;
		&.btn.btn {
			padding: 1em 3em;
			border-radius: 10px;
			background-color: #f96b47;
			color: #fff;
			&:hover {
				background-color: darken(#f96b47, 20%);
			}
		}
		&:after {
			@include psudoClass;
			@include absolute($R:-18px, $B:-8px);
			@extend .icons-rabbit3;
		}
	}
	&.icons-remove {
		border-radius: 0;
	}
}//.btn

%member_btn_hover {
	&:hover {
		@include rotate(3deg);
	}
}

.btns {
	&-member1 {
		@extend %member_btn_hover;
	}
	&-member2 {
		@extend %member_btn_hover;
	}
}