@charset "UTF-8";

// $icon-spacing: 1px;
// $icon-layout: horizontal;
// @import "txt_img/*.png";
// @import "txt_title/*.png";
// @include all-txt_img-sprites;
// @include all-txt_title-sprites;

// .txt_img {
// 	&-index {
// 		@each $name in video, news, column {
// 			&-#{$name} {
// 				@include wh2(txt_img-sprite-width(index-#{$name}) txt_img-sprite-height(index-#{$name}));
// 			}
// 		}
// 	}
// }
// .txt_title {
// 	&-title {
// 		@each $name in news, understanding_1, understanding_2, understanding_3, symptoms_1, symptoms_2, diagnosis_1, diagnosis_2, diagnosis_3, diagnosis_4, diagnosis_5, coexisting_1, coexisting_2, coexisting_3, information, upload_pic, faq, msg, media, links {
// 			&-#{$name} {
// 				@include wh2(txt_title-sprite-width(title-#{$name}) txt_title-sprite-height(title-#{$name}));
// 			}
// 		}
// 	}
// }
$iconTxt-spacing: 1px;
$iconTxt-layout: smart;
$iconTxtMap:(
title-best_seller, title-hot_news, title-pdt_aside, title-aside_news, more_info, add_cart, btn-add_cart, btn-plusgoods, btn-facebook, title-description, title-pdt_intro, title-pdt_specification, go_list, title-spacial_offers, add_cart2, title-member
             );

@import "iconTxt/*.png";
@include all-iconTxt-sprites;

.iconTxt {
	@each $name in $iconTxtMap {
		&-#{$name} {
			@include wh2(iconTxt-sprite-width(#{$name}) iconTxt-sprite-height(#{$name}));
		}
	}
}

$pattern-spacing: 1px;
$pattern-layout: smart;
$patternMap:(
dot1, line1, dot2, line2, line2_hover, line3, circle1, circle2, dot3, baby_slide, baby_books, chalk_eraser, giraffe, tree_bee, tree_bee2, baby-aside, paper_top, sticker, bg-pdt_item, squirrel, p-so_title, fox, trees, trees2, trees3, rabbit
             );
@import "pattern/*.png";
@include all-pattern-sprites;
.pattern {
	@each $name in $patternMap {
		&-#{$name} {
			@include wh2(pattern-sprite-width(#{$name}) pattern-sprite-height(#{$name}));
		}
	}
}

$icons-spacing: 1px;
// $icons-layout: horizontal;
$iconsMap:(
phone, fax, home, cute_people, home2, poor_guy, pencil, slide_control
             );
@import "icons/*.png";
@include all-icons-sprites;
.icons {
	@each $name in $iconsMap {
		&-#{$name} {
			@include wh2(icons-sprite-width(#{$name}) icons-sprite-height(#{$name}));
		}
	}
}

$btnsMap:(
fb_login, fb_register, login, submit1, submit2, re_captcha, confirm1, member1, member2, notice
             );
@import "btns/*.png";
@include all-btns-sprites;
.btns {
	@each $name in $btnsMap {
		&-#{$name} {
			@include wh2(btns-sprite-width(#{$name}) btns-sprite-height(#{$name}));
		}
	}
}

$memberMap:(
m_forget, m_login, m_register, title-change, title-modify, title-register, txt-order1, txt-order2, txt-order3, txt-order4, txt-order5, txt-order6, txt-order7, txt-order8
             );
@import "member/*.png";
@include all-member-sprites;
.member {
	@each $name in $memberMap {
		&-#{$name} {
			@include wh2(member-sprite-width(#{$name}) member-sprite-height(#{$name}));
		}
	}
}


.txt {
	&-1 {
		color: #000;
		@include adjFont(15px, 1.2);
	}
	&-2 {
		color: #fff;
	}
	&-3 {
		color: #7b4525;
	}
	&-4 {
		color: #a6a6a6;
		@include adjFont(13px, 1.2);
	}
	&-5 {
		color: $logo_color1;
	}
	&-6 {
		color: #683705;
		@include adjFontSize(15px, 1.2);
	}
	&-price1 {
		color: #a6a6a6;
	}
	&-price2 {
		color: #8e591b;
		&_1 {
			color: #cf0000;
			font-weight: bold;
			@include adjFontSize(20px);
		}
	}
	&-price3 {
		color: #4aaa9a;
	}
	&-price4 {
		color: $logo_color1;
	}
	&-price5 {
		color: #f1632d;
		font-size: em(20);
	}
	&-fz26 {
		font-size: em(26px);
	}
}
// p.txt-fc1 {
// 	margin-bottom: 3em;
// }
// .title-fc1 {
// 	color: color($colors, nor, font_c1);
// 	font-weight: bolder;
// 	font-size: em(17);
// }


// button.icon {
// 	margin: 0;
// 	border: none;
// }


// .icon {
// 	&-playBtn {
// 		@include wh2(75 76);
// 		@include bg-i(0, 0);
// 	}
// 	.information_page .list-item-header & {
// 		display: inline-block;
// 		vertical-align: middle;
// 		@include wh2(40);
// 		margin-right: 0.8em;
// 		&-step1-row2 {
// 			@include bg-i(-110, 0);
// 		}
// 		&-step1-row3 {
// 			@include bg-i(-110, -41);
// 		}
// 		&-step2-row2 {
// 			@include bg-i(-110, -82);
// 		}
// 	}
// 	#notifications-full-icon & {
// 		@include absolute(0, 0, 0, 0);
// 		margin: auto;
// 		display: block;
// 		@include wh2(40);
// 		@include bg-i(-110, -41);
// 	}

// }
.svg_icon {

}
