/*========================================================================*\
		>>	index page
\*========================================================================*/

.main_banner {
	position: relative;
	@include bgRWD('null', 1920, 750);
	img {
		@include absolute(0, $L:0);
	}
}

.act_banner {
	background-color: #fff;
	.pic {
		position: relative;
		@include bgRWD('null', 1200, 550);
		img {
			@include absolute(0, $L:0);
		}
	}
}

.small_banner {
	height: 100px;
	@include bg('bg1.jpg', 0, 0, repeat);
}

.index_page {
	&-main {
		@include bg('bg-best_sell.jpg', 50%, 0);
	}
}

// >>> best_seller 熱銷商品
.best_seller {
	margin-bottom: 3em;
	&-wrapper {
		position: relative;
		max-width: 860px;
		margin: 5em auto;
	}
	&-pattern {
		&:after {
			@include psudoClass;
			@include absolute($B:-110px, $L:-280px);
			@extend .pattern-trees2;
		}
		img {
			@include absolute($B:-110px, $R:-230px);
		}
	}
	&-title {
		@include absolute(25%, $L:-125px);
	}
	&-list {}
	&-item {
		min-height: 325px;
		margin-bottom: 0.8em;
		&.col-xs-4 {
			padding-left: 0.3em;
			padding-right: 0.3em;
		}
		figure {
			width: 100%;
			background-color: #fff;
			border: 2px solid #bba096;
		}
	}
	&-pic {
		position: relative;
	}
	&-name {
		position: relative;
		padding: 0 0.8em;
		border-top: 1px solid #e3e3e3;
		border-bottom: 1px solid #e3e3e3;
		@include ellipsis;
	}
	&-price {
		padding: 0 0.8em;
		@include adjFontSize(13px, 1);
		.txt-price1 {
			margin-right: 0.8em;
		}
	}
	&-control {
		height: 50px;
		margin: 1em auto 0px;
		text-align: center;
		display: table;
		li {
			position: relative;
			display: block;

			text-align: center;
			float: left;
			&.number {
				position: relative;
				@include circle(22);
				border: 1px solid #fff;
				margin-left: 0.8em;
				a {
					position: relative;
					z-index: 1;
					display: block;
					@include wh2;
				}
				&:hover {
					@include scale(1.1);
				}
			}
			&.active {
				@include scale(1.1);
				&>a {
					@extend .slide_control-hover;
				}
			}
		}
	}
}

$bdra: 20px;
// >>> hot_news 最新消息
.hot_news {
	position: relative;
	&-pattern {
		position: relative;
		&:before {
			@include psudoClass;
			@include absolute(-90px, 60px);
			@extend .pattern-tree_bee;
		}
	}
	&-bg {
		@include wh2(100% 754px);
		@include absolute(-148px);
		@include bg('bg-news.png', 50%, 0);
	}
	&-title {
		@include absolute(0, $L:70px);
		z-index: 2;
		margin: 0;
	}
	&-wrapper {
		padding-bottom: 30px;
	}
	&-wall {
		position: relative;
		z-index: 1;
		width: 100%;
		max-width: 1090px;
		margin: 101px auto 0;
		&:after {
			@include psudoClass;
			@include absolute(-3px, -3px);
			z-index: 1;
			@include wh2;
			background-color: #d19e76;
			border-radius: $bdra;
			border: 1px solid $normal_color2;
		}
	}
	&-more {
		@include absolute(-42px, $L:0, $R:0);
		z-index: 10;
		// display: table;
		margin: auto;
		text-align: center;
		a {
			color: #633d25;
			font-family: $ff-CenturyGothic;
			font-weight: bold;
		}
		i {
			position: relative;
		}
		.icon {
			position: relative;
			z-index: 10;
			@include wh2(21 25);
		}
		.svg_icon-triangle_right-more {
			z-index: 9;
			@include absolute(0, -16px);
		}
	}
	&-container {
		position: relative;
		z-index: 2;
		@include wh2;
		min-height: 450px;
		padding: 1em;
		border-radius: $bdra;
		background-color: $normal_color1;
		border: 1px solid $normal_color2;
		&:after {
			@include psudoClass;
			@include absolute($R:-20px, $B:-46px);
			@extend .pattern-giraffe;
		}
	}
	&-block {
		@include wh2;
		padding: 1em 0;
		background-color: $normal_color3;
		border: 1px solid $normal_color2;
	}
	&-list {
		position: relative;
		// margin-bottom: 5em;
		&+.line {
			@extend .pattern-line1;
			width: 98% !important;
			margin: 0.5em auto 0;
		}
	}
	&-item {
		position: relative;
		height: 50px;
		margin-bottom: 1em;
		a {
			position: relative;
			display: block;
			@include wh2;
			vertical-align: middle;
		}
		.date {
			&-d {
				font-size: em(28);
			}
			&-ym {
				font-size: em(13);
			}
		}
		.news {
			&-date {
				line-height: 0.9;
				text-align: center;
				@extend %verticalAlignCenter;
			}
			&-title {
				@extend %verticalAlignCenter;
				left: 15%;
			}
			&-more {
				@extend %verticalAlignCenter;
				right: 0;
				.icon {
					@include wh2(17 19);
				}
			}
		}
		&:after {
			@include psudoClass;
			@include relative($B:-6px);
			width: 100%;
			height: 3px;
			@include bg('pattern/dot1.png');
			// background-image: url('../images/pattern/dot1.png');
			background-repeat: repeat;
		}
		&:hover {
			.txt-2 {
				color: #fce784;
			}
			.news-title {
				text-decoration: underline;
			}
		}
	}
	&-row {
		padding: 0.8em 1em;
	}
	&-banner {
		border: 2px solid #a06648;
		margin-right: 5px;
		@media (max-width: $screen-md-max) {
			width: 58%;
		}
		.pic {
			@include wh2(600 155);
			@media (max-width: $screen-md-max) {
				@include bgRWD('null', 600, 155);
			}
		}
	}
	.facebook_block {
		border: 2px solid #a06648;
		.yo {
			@include wh2(400 155);
			@media (max-width: $screen-md-max) {
				@include wh2(350 133);
			}
		}
	}
}

%verticalAlignCenter {
	@include VerticalAlign;
	@include absolute();
	// height: 100%;
}