.login {
	&-header {
		height: 85px;
		overflow: hidden;
	}
	&-block {
		position: relative;
		@include bg('bg-login.png', 0, 0, repeat);
		padding: 1.8em 3em;
		header {
			position: relative;
			p {
				margin-left: 0.3em;
			}
		}
		&-pattern {
			position: relative;
			@include wh2(100% 105);
			@include bg('bg-login.png', 0, 0, repeat);
			margin-bottom: 2em;
			// overflow: hidden;
			&:before {
				@include psudoClass;
				@include absolute($B:0, $L:0);
				z-index: 10;
				@include wh2;
				@include bg('bg-underbrush.png', 50%, bottom);
			}
			.pattern {
				&-tree_bee2 {
					@include absolute($B:0, $L:290px);
					z-index: 9;
				}
				&-trees {
					@include absolute($B:0, $L:60px);
					z-index: 11;
				}
				&-fox {
					@include absolute(-15px, 60px);
					z-index: 11;
				}
			}
		}
	}
	&-sign_in {
		position: relative;
		padding-bottom: 2.8em;
		margin-bottom: 2.8em;
		// border-bottom: 1px dotted #602d01;
		&:after {
			@include psudoClass;
			@include absolute($B:0);
			@include wh2(100% 4);
			@include bg('dot4.png', 0, 0, repeat);
		}
		.btns-fb_login {
			@include absolute(0, $B:0, $R:1em);
			margin: auto;
		}
	}
	&-sign_up {
		position: relative;
		&:before {
			@include psudoClass;
			@include absolute($L:-1.5em, $T:1.8em);
			@include wh2(3 90%);
			@include bg('dot5.png', 0, 0, repeat);
		}
		.btns-fb_register {
			@include absolute($R:20px, $B:20px);
		}
		form {
			position: relative;
			z-index: 10;
		}
	}
}

.member {
	&-wrap {
		header {
			position: relative;
			height: 85px;
			overflow: hidden;
		}
	}
	&-menu {
		@include absolute($B:0.6em, $R:0);
		li {
			position: relative;
			margin-right: 1em;
			&.active {
				&:after {
					@include psudoClass;
					@include absolute(-15px, $R:-10px);
					@extend .icons-pencil;
				}
			}
		}
	}
	&-container {
		@include bg('bg-member.png', 0, 0, repeat);
		padding-top: 1.8em;
	}
	&-block {
		padding: 0 1em 1.8em;
		margin-bottom: 4em;
		.col-md-6 {
			padding-left: 2em;
			padding-right: 2em;
		}
	}
	&-modify {
		position: relative;
		&:after {
			@include psudoClass;
			@include absolute($R:0, $T:0);
			@include wh2(3 100%);
			@include bg('dot5.png', 0, 0, repeat);
		}
	}
	&-pattern {
		position: relative;
		@include wh2(100% 105);
		@include bg('bg-grassland.png', 50%, bottom);
		&:before {
			@include psudoClass;
			@include absolute($B:15px, $L:200px);
			@extend .pattern-rabbit;
		}
		&:after {
			@include psudoClass;
			@include absolute($B:25px, $R:100px);
			@extend .pattern-trees3;
		}
	}
	&-order {
		padding-left: 3em;
		padding-right: 3em;
	}
}

.order_table {
	width: 100%;
	color: $normal_color;
	@include adjFontSize(13px, 1.0);
	th {
		vertical-align: middle;
		&.q {
			@include bg('th_middle.png', 50%, 0, repeat);
			span {
				display: block;
				margin: auto;
			}
		}
	}
	tr {
	}
	td {
		text-align: center;
		&:not(.line) {
			padding: 0.6em;
		}
	}
	a {
		color: $logo_color1;
		text-decoration: underline;
	}
	.line {
		height: 4px;
		@include bg('dot4.png', 0, 50%, repeat);
	}
}

.order_total {
	@include wh2(130 40);
	margin: 2em auto;
	border-radius: 20px;
	@include bg('bg-btn4.png', 50%, 50%);
	color: #fff;
	line-height: 40px;
	font-size: em(13);
	text-align: center;
	box-shadow: 2px 2px 3px rgba(#000, 0.3);
}